@use "main";

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  position: relative;
  font-weight: 600;
  gap: 4px;

  span {
    white-space: nowrap;
    transition: 0.6s;
    z-index: 10;
  }
}

.filled {
  color: main.$secondary-white;
  background-color: main.$primary-orange;
}

.green {
  color: main.$secondary-white;
  background-color: main.$primary-green;
}

.ion {
  color: transparent;
}

.outlined {
  color: main.$primary-ivory;
  border: 2px solid main.$primary-ivory;
}

.outlined-dark {
  color: main.$primary-black;
  border: 2px solid main.$primary-black;
}

.lg {
  height: 52px;
  padding: 0 28px;
}

.sm {
  height: 44px;
  padding: 0;
}

.md {
  padding: 0 24px;
  height: 44px;
}
