@use "main";

.textArea {
  width: 100%;
  outline: none;
  resize: none;
  padding: 8px;
  border: 1px solid #e2e8f0;
  border-radius: 0.5rem;
  font-size: 1rem;
  color: main.$primary-black;
  background-color: transparent;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;

  &::placeholder {
    color: rgba(main.$primary-black, 0.4);
  }

  &:focus {
    border-color: main.$primary-black;
    outline: none;
  }
}
