$primary-cream: #e8e1d9;
$primary-brown: #977d6c;
$primary-black: #000000;
$secondary-white: #ffffff;
$secondary-light-brown: #b18f6a;
$secondary-dark-brown: #4e2c1d;
$neutral-light-gray: #f5f5f5;
$neutral-dark-gray: #212121;
$warning-red: #d32f2f;
$primary-green: #205c11;
$primary-blue: #1e88e5;
$secondary-yellow: #ffe46f;
$coral: #ff7043;
$primary-purple: #452d3a;
$primary-ivory: #faf9fb;
