.hero {
  color: white;
  padding: 20rem 1rem 8rem;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    url("/hero.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}
