@use "main";

.navbar {
  z-index: 20;
  position: sticky;
  padding: 1rem 0;
  top: 0;
  background-color: rgba(main.$secondary-white, 0.6);
  width: 100%;
  backdrop-filter: blur(30px);
  border-bottom-width: 1px;
  border-bottom-color: rgba(main.$primary-dark-rosewood, 0.7);
}
