@use "main";

.input {
  width: 100%;
  color: main.$primary-black;
  margin-top: 4px;
  font-size: 16px;
  background-color: transparent;
  outline: none;
  padding: 8px;
  border: 1px solid rgba(main.$primary-black, 0.16);
  border-radius: 0.5rem;
  font-size: 1rem;
  background-color: transparent;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;

  &::placeholder {
    color: rgba(main.$primary-black, 0.16);
  }

  &:focus {
    border-color: main.$primary-black;
    outline: none;
  }
}

.error {
  margin-bottom: 2px;
  color: main.$primary-black;
}
